/* sunuma özel değişkenler */
$screen_width: 100%;

// values for modal popups
$modal_popup_width:       80%;
$modal_popup_height:      auto;
$modal_popup_dist_top:    5vw;
$modal_popup_bg_color:    rgba(255,255,255,0.9);
$overlay_bg_color:        rgba(200,200,200,0.9);

// values for inplace popups
$inplace_popup_width:     400px;
$inplace_popup_height:    auto;
$inplace_popup_bg_color:  rgba(250,240,220,0.95);

// values for bottom popups
$bottom_popup_width:      400px;
$bottom_popup_height:     auto;
$bottom_popup_left:       100px;
$bottom_popup_bg_color:   rgba(250,240,220,0.9);

$button_image_url: "../images/nav-icons.png";

.tPopup,
.tPopup * { box-sizing: border-box; }

.tPopupOverlay {
  // z-index: 1;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: $overlay_bg_color;
}

.tPopup {}

.tPopupContent {
  
  // ** different types of popups
  
  // * modal popups
  [data-type="modal"] & {
    position:   fixed;
    left:       ($screen_width - $modal_popup_width) / 2;
    top:        $modal_popup_dist_top;
    width:      $modal_popup_width;
    height:     $modal_popup_height;
    background: $modal_popup_bg_color;
    padding:    1em;
    box-shadow: -8px 8px 16px 0px rgba(0,0,0,0.25);

    transform: translate3d(-450px,0,0);
  }
  
  // * inplace popups
  [data-type="inplace"] & {
    position:   absolute;
    width:      $inplace_popup_width;
    height:     $inplace_popup_height;
    background: $inplace_popup_bg_color;
    padding:    0.5em;
    box-shadow: -4px 4px 8px 0px rgba(0,0,0,0.5);

    transform: translate3d(0,50px,0);
  }

  // * bottom popups
  [data-type="bottom"] & {
    position:   absolute;
    left:       $bottom_popup_left;
    bottom:     0;
    width:      $bottom_popup_width;
    height:     $bottom_popup_height;
    background: $bottom_popup_bg_color;
    padding:    0.5em;
    box-shadow: -4px 0 4px 0px rgba(0,0,0,0.5);

    transform: translate3d(0,200px,0);
  }

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s, transform 0.5s;

  .tOpen>& {
    transform: translate3d(0,0,0);
    opacity: 1;
    pointer-events: auto;
  }

  video, img { max-width: 100%; }
}//.tPopupContent

.tBtClosePopup {
  display: block;
  position: absolute;
  top: 0; right: 0;
  width: 64px;
  height: 64px;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 12px; right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: {
      color: rgba(150,150,150,1);
      border-radius: 50%;
      image: url($button_image_url);
      position: -155px -4px;
      repeat: no-repeat;
    }
  }

  [data-type="inplace"]>.tPopupContent>&,
  [data-type="bottom"]>.tPopupContent>& {
    top: -24px; right: -24px;
  }
}//.tBtClosePopup

.tBtOpenPopup {
  display: inline-block;
  background-color: rgba(200,200,200,0.9);
  margin: 0.4em 0;
  padding: 0.1em 0.5em 0.2em;
  border-radius: 2px;
  color: #444;
  text-decoration: none;

  .tOpen>&{
    background-color: rgba(50,50,50,0.9);
    color: white;
  }
}//.tBtOpenPopup




/*  test styles
    comment in when necessary
*/

// [data-type="modal"] .tBtOpenPopup {
//   position: absolute;
//   top: 20%;
//   left: 20%;
// }

// .topLeft,
// .centerLeft,
// .bottomLeft,
// .topCenter,
// .centerCenter,
// .bottomCenter,
// .topRight,
// .centerRight,
// .bottomRight { position: absolute; }

// $dist: 20px;

// .topLeft      { top: $dist; left: $dist; }
// .centerLeft   { top: 50%; left: $dist; }
// .bottomLeft   { bottom: $dist; left: $dist; }
// .topCenter    { top: $dist; left: 50%; }
// .centerCenter { top: 50%; left: 50%; }
// .bottomCenter { bottom: $dist; left: 50%; }
// .topRight     { top: $dist; right: $dist; }
// .centerRight  { top: 50%; right: $dist; }
// .bottomRight  { bottom: $dist; right: $dist; }










